.form-top {width: 100%; margin-top: 30%; 

background-image: linear-gradient(to bottom, #2A60A8 , #2A60A8);
	padding: 15px; border-radius: 15px;}
.logo img {width: 50%;
    padding-bottom: 5px;padding-top:10px}
.fa-stack img {position: absolute; padding: 13px 10px;}
.mob-only {display: none;}
.desk-only {display: block;}
textarea.form-control {
    height: 60px;
}
.list {font-weight: normal;}
.list li  {font-weight: normal;}
.list h4 {color: #f64c95;}
.about-list {padding-left: 20px;}
.about-list li {color: #6d7a83;padding-bottom: 10px; list-style: square;}
.top-box {padding: 30px 0; background: #7d1643  ;text-align: center; font-weight: bold;}
.top-box span {font-weight: normal;}
.tob-box h4 {color: #16afff!important; font-weight: bold;}
@media (max-width: 767px) {
	.mob-only {display: block!important;}
.desk-only {display: none!important;}
.form-top {width: 100%; margin-top: 50px; }
.mob-logo {padding-top: 100px; float: right; padding-right: 20px; width:60%;}
.schedule-tabs.lv1 { background: transparent; padding-top: 10px; }
.schedule-wrapper .schedule-tabs.lv1 .nav > li > a {background: #250312; margin: 10px 15px;
min-height: 40px; padding-top: 10px!important; border-radius: 6px; border: 1px #b8a378 solid;}
.schedule-wrapper .schedule-tabs.lv1 .nav > li > a:hover {
    background: #b8a378;
    color: #000;

}

.wide .page-section.background-img-slider,
.boxed .page-section.background-img-slider > .container {
    background: transparent url("../img/preview/background-img-slider.jpg") 100% 0 repeat !important;
    background-position: 100% 0 !important;
    background-size: cover !important;
}
}
.schedule-tabs.lv1 { background: #7D1643 }
table th,table td {text-align: center}
table tr td:last-child a{
  color:#f64c95
}

table tr:first-child th h3{
  color:#7D1643
}
table  tr th:last-child ,table  tr th:last-child h3,table  tr td:last-child a{
 display: none
}
table tr td:first-child,
table tr td:nth-child(3) ~ td {
  display: none;
}

table tr th:first-child,
table tr th:nth-child(3) ~ th {
  display: none;
}
.schedule-wrapper .schedule-tabs.lv1 .nav > li > a:hover {background: #7D1643;color:white}